doctype html
| PASTE YOUR HTML CODE HERE
head
    title Pug
    script(type='text/javascript').
      if (foo) bar(1 + 5)
h1 Hola, #{name}!
#container.col
    p Gracias por suscribirte
    p Te enviaremos noticias sobre el mercado, nuevos posts, se&ntilde;ales, entre otros
